export( "quadrature.rules",
	"quadrature.rule.table",
        "chebyshev.c.quadrature.rules", "chebyshev.c.quadrature",
        "chebyshev.s.quadrature.rules", "chebyshev.s.quadrature",
        "chebyshev.t.quadrature.rules", "chebyshev.t.quadrature",
        "chebyshev.u.quadrature.rules", "chebyshev.u.quadrature",
        "gegenbauer.quadrature.rules", "gegenbauer.quadrature",
        "ghermite.h.quadrature.rules", "ghermite.h.quadrature",
        "glaguerre.quadrature.rules", "glaguerre.quadrature",
        "hermite.h.quadrature.rules", "hermite.h.quadrature",
        "hermite.he.quadrature.rules", "hermite.he.quadrature",
        "jacobi.g.quadrature.rules", "jacobi.g.quadrature",
        "jacobi.p.quadrature.rules", "jacobi.p.quadrature",
        "laguerre.quadrature.rules", "laguerre.quadrature",
        "legendre.quadrature", "legendre.quadrature.rules",
        "schebyshev.t.quadrature.rules", "schebyshev.t.quadrature",
        "schebyshev.u.quadrature.rules", "schebyshev.u.quadrature",
        "slegendre.quadrature.rules", "slegendre.quadrature",
        "spherical.quadrature.rules", "spherical.quadrature",
        "ultraspherical.quadrature.rules", "ultraspherical.quadrature"
        )
